{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href="{{ item.link }}">  {{ item.item }} </a>
        </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
<h2 class="section-title">Books</h2>
<div class="book-grid">
  {% for book in books %}
    <div class="book-card">
      <img src="{% static book.pic_path %}" alt="{{ book.name }}" class="book-image">
      <div class="book-info">
        <h3 class="book-title"><a href="{% url 'book_detail' book.id %}">{{ book.name }}</a></h3>
        <p class="book-author">{{ book.username }}</p>
        <p class="book-price">from: <span>${{ book.price }}</span></p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
