{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href="{{ item.link }}">{{ item.item }}</a>
        </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    <h2 class="text-center mb-4 ">My Favorite Books</h2>

    <div class="table-container" style="overflow-x: auto;">
        <table class="book-table">
            <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Price</th>
                    <th>Posted By</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>
                            <a href="{% url 'book_detail' book.id %}" class="text-decoration-none text-dark fw-bold">
                                {{ book.name }}
                            </a>
                        </td>
                        <td>${{ book.price }}</td>
                        <td>{{ book.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
